<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login/Registration Form Transition</title>
  
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<%= stylesheet_link_tag "style" %>
<%= javascript_include_tag "index" %>
<%= csrf_meta_tags %>
</head>

<body>
  <p class="tip">IIT Mandi QnA Portal</p>
<div class="cont">
  <div class="form sign-in">
    <h2>Welcome back,</h2>
    <label>
     <%= form_tag("/create_session", method: :get) do %>
          <span>Username</span>
          <%= text_field_tag(:username) %><br>
          <span>Password</span>
          <%= password_field_tag(:password) %><br>
          </label>
    <%= submit_tag 'Login', class: "submit" %>
  <% end %>
    <!--<p class="forgot-pass">Forgot password?</p>
    <button type="button" class="submit">Sign In</button>
    <button type="button" class="fb-btn">Connect with <span>facebook</span></button>-->
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already have an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Login</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Time to feel like home,</h2>
      
      <%= form_for(@user, url: {action: :create, controller: :users}, method: :post) do |f| %>
      <label>
        <span>First Name</span>
        <%= f.text_field :firstname %><br>
      </label>
      <label>
        <span>Last Name</span>
        <%= f.text_field :lastname %><br>
      </label>
      <label>
        <span>Email</span>
        <%= f.text_field :email %><br>
      </label>
      <label>
        <span>Username</span>
        <%= f.text_field :username %><br>
      </label>
      <label>
        <span>Password</span>
        <%= f.password_field :password %><br>
      </label>
      <label>
        <span>Confirm Password</span>
        <%= f.password_field :password_confirmation %><br>
      </label>
      <%= f.submit "Signup Now" , class: "submit" %>
      <% end %>
      <!--
      <button type="button" class="submit">Sign Up</button>
      <button type="button" class="fb-btn">Join with <span>facebook</span></button>-->
    </div>
  </div>
</div>

<a href="https://dribbble.com/shots/3306190-Login-Registration-form" target="_blank" class="icon-link">
  <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Dribbble-icon.png">
</a>
<a href="https://twitter.com/NikolayTalanov" target="_blank" class="icon-link icon-link--twitter">
  <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png">
</a>
</body>
</html>
