<% if logged_in? %>
	<%= link_to "Logout", logout_path, method: :delete %>
<% else %>
	<%= link_to "Login/Signup", login_path %>
<% end %>

<% if @users %>
	<% @users.each do |u| %>
		<p><%= u.firstname%></p>
		<p><%= u.lastname%></p>
		<p><%= u.username%></p>
		<p><%= u.email%></p>
		<p><%= u.password_digest%></p>
	<% end %>
<% end %>